.footer {
    height: auto!important;
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}