<footer class="footer">
  <span class="todo-count"><strong>{{ pendingTasks }} </strong>
    <span *ngIf="pendingTasks>1; else oneTask">tareas pendientes</span>
    <ng-template #oneTask>tarea pendiente</ng-template>
  </span>
  <ul class="filters">
    <li *ngFor="let filter of filters"
      (click)="changeFilter(filter)">
      <a [class.selected]="filter === actualFilter" href="#/">
        {{ filter | titlecase}}
      </a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed">Borrar completados</button>
</footer>
